<div class="modal-body wrapper-lg no-padder">
    <div class="panel panel-default m-b-none">
        <div class="panel-heading font-bold"
             translate="pages.sm.pos.POS_MGMT_FORM_TITLES.POS_MGMT_FORM_TITLE_ADD_POS">
        </div>
        <div class="panel-body" id="addPosPanel">
            <div class="well b bg-warning bg lt text-dark wrapper-sm m-t">
                <strong>{{"pages.common.COMMON_NOTIFICATION_TEXTS.COMMON_NOTIFICATION_I18N" | translate}}</strong>
            </div>
            
            <!-- alert -->
            <div class="m-b-md">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
                </alert>
            </div>
            
             <!-- Specify "novalidate" here to disable the browser default validation -->
            <!-- so we can get rid of the Bootstrap notification -->
            <form name="formAddPos" id="formAddPos" class="form-validation" novalidate>
                <fieldset ng-disabled="isFormDisabled">
                
                    <!--PosName and PosCode  -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="posName" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_NAME">
                                    PosName
                                </label>
                                <input id="posName" name="posName" type="text" class="form-control"
                                        placeholder="{{placeholders.posName}}" 
                                        popover="{{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_PLACEHOLDER_POS_NAME_RULE' | translate}}"
                                        popover-placement="bottom" popover-trigger="focus" 
                                        ng-model="fields.posName" ng-minlength="1" ng-maxlength="45" ng-pattern="regexPosName" required />
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                 <label for="posCode" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_CODE">
                                    PosCode
                                </label>
                                <input id="posCode" name="posCode" type="text" class="form-control"
                                        placeholder="{{placeholders.posNo}}" 
                                        popover="{{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_PLACEHOLDER_POS_CODE_RULE' | translate}}"
                                        popover-placement="bottom" popover-trigger="focus" 
                                        ng-model="fields.posCode" ng-minlength="6" ng-maxlength="6" ng-pattern="regexPosCode" required 
                                        ng-blur="chkPosNameExistence(formAddPos['posCode'])"/>
                           
                            </div>
                        </div>
                    </div>
                    
                    <!-- OptDescription -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="OptDescription"
                                       translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_DESC">
                                    OptDescription
                                </label>
                                <input id="posDescription" name="posDescription" type="text"
                                       class="form-control" placeholder="{{ placeholders.posDesc }}"
                                       popover="{{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_PLACEHOLDER_POS_DESC_RULE' | translate}}"
                                       popover-placement="bottom" popover-trigger="focus"
                                       ng-model="fields.posDescription" ng-minlength="1" ng-maxlength="100" required>
                            </div>
                        </div>
                    </div>
                    
                     <!-- Organization, department, ACTIVE -->
                    <div class="row">
                        <fieldset ng-disabled="isOrgSelectDisabled || isDepSelectDisabled || isPosSelectDisabled">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="orgId"
                                           translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_ORG_NAME">
                                        Organization
                                    </label>
                                    <div class="input-group">
                                        <ui-select
                                                id="orgId"
                                                ng-model="selectedOrg.selected"
                                                on-select="orgIdSelectOnChange()"
                                                theme="bootstrap"
                                                ng-required="true">
                                            <ui-select-match
                                                    placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                                {{$select.selected.orgName}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in organizations | filter: $select.search">
                                                <span ng-bind-html="item.orgName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                {{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_NO_RECORD' | translate }}
                                            </ui-select-no-choice>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="clearSelect()" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="depId"
                                           translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_DEP_NAME">
                                        Department
                                    </label>
                                    <div class="input-group">
                                        <ui-select
                                                id="depId"
                                                ng-model="selectedDep.selected"
                                                on-select="depIdSelectOnChange()"
                                                theme="bootstrap"
                                                ng-required="true">
                                            <ui-select-match
                                                    placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                                {{$select.selected.depName}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in departments | filter: $select.search">
                                                <span ng-bind-html="item.depName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                {{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_NO_RECORD' | translate }}
                                            </ui-select-no-choice>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="clearSelect()" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="status" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_ENABLED">
                                          Status
                                    </label>
                                    <ui-select
	                                    id="status"
	                                    ng-model="selectedStatus.selected"
	                                    on-select="statusSelectOnChange()"
	                                    theme="bootstrap"
	                                    ng-required="true"/>
	                                <ui-select-match placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                             {{$select.selected.active}}
                                    </ui-select-match>
	                                <ui-select-choices repeat="item in status | filter: $select.search">
	                                    <span ng-bind-html="item.active | highlight: $select.search"></span>
	                                </ui-select-choices>
	                                <ui-select-no-choice>
	                                    {{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_NO_RECORD' | translate }}
	                                </ui-select-no-choice>
                            </ui-select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    
                     <!-- A hidden row for hidden fields -->
                    <div class="row" style="display: none">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="posCreateUser"></label>
                                <input type="text" class="form-control" id="posCreateUser"
                                       name="posRequiredVo.posOperatorId"
                                       ng-model="fields.posOperatorId">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-2">
                                <button class="btn m-b-xs btn-default btn-success btn-addon" id="btnSave"
                                        ng-click="add()" ng-disabled="formAddUser.$invalid">
                                    {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_SUBMIT' | translate}}
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn m-b-xs btn-default btn-success btn-addon" id="btnClose"
                                        ng-click="cancel()">
                                    {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_CANCEL' | translate}}
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            
            
        </div>
        
    </div>
</div>