<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate="pages.sm.pos.POS_MGMT">Position Management</h1>
</div>
<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div class="wrapper-md" ng-controller="PosMgmtCtrl">
    <div ng-controller="AccordionCtrl">
        <accordion close-others="oneAtATime">
             <accordion-group heading="{{accordionTitle}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <form name="formPosFilter" id="formPosFilter">
                     <!-- Column 1 -->
                     <div class="col-lg-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="posName" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_NAME">
                                    posName
                                </label>
                                <div class="input-group col-lg-7">
                                    <input id="posName" type="text" class="form-control" ng-model="fields.posName" placeholder="{{placeholders.posName}}"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-lg-5 control-label" for="depName" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_DEP_NAME">
                                    depName
                                </label>
                                <div class="input-group col-lg-7">
                                    <ui-select id="depId" ng-model="selectedDep.selected" on-select="depIdSelectOnChange()" theme="bootstrap">
                                        <ui-select-match placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                            {{$select.selected.depName}}
                                        </ui-select-match>
                                         <ui-select-choices repeat="item in departmentInfo | filter: $select.search">
                                            <span ng-bind-html="item.depName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            {{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_NO_RECORD' | translate }}
                                        </ui-select-no-choice>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="clearSelect()" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                     </div>
                     
                     <!-- Column 2 -->
                     <div class="col-lg-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="posCode" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_CODE">
                                    posCode
                                </label>
                                <div class="input-group col-lg-7">
                                    <input id="posName" type="text" class="form-control" ng-model="fields.posCode" placeholder="{{placeholders.posNo}}"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label  class="col-lg-5 control-label" for="orgName" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_ORG_NAME">
                                    orgName
                                </label>
                                <div class="input-group col-lg-7">
                                    <ui-select
                                            id="orgId"
                                            ng-model="selectedOrg.selected"
                                            on-select="orgIdSelectOnChange()"
                                            theme="bootstrap">
                                        <ui-select-match placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                            {{$select.selected.orgName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in organizationInfo | filter: $select.search">
                                            <span ng-bind-html="item.orgName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            {{ 'pages.sm.pos.POS_MGMT_PLACEHOLDERS.POS_MGMT_NO_RECORD' | translate }}
                                        </ui-select-no-choice>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="clearSelect()" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                     </div>
                     
                     <!-- Column 3 -->
                     <div class="col-lg-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="status" translate="pages.sm.pos.POS_MGMT_FIELDS.POS_MGMT_FIELD_POS_ENABLED">
                                    Is Enabled?
                                </label>
                                <div class="input-group col-lg-7">
                                    <ui-select id="status" ng-model="selectedStatus.selected" on-select="activeStatusSelectChanged()" theme="bootstrap">
                                        <ui-select-match placeholder="{{'pages.common.COMMON_PLACEHOLDERS.COMMON_PLACEHOLDER_SELECT' | translate}}">
                                            {{$select.selected.active}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in active | filter: $select.search">
                                            <span ng-bind-html="item.active | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    
                                    <span class="input-group-btn">
                                        <button ng-click="selectedStatus.selected = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-3">
                                    <button class="btn m-b-xs btn-success btn-addon" ng-click="search()">
                                        {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_SEARCH' | translate}}
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn m-b-xs btn-default btn-addon" type="reset" ng-click="clear()">
                                        {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_CLEAR' | translate}}
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                     </div>
                     
                </form>
             </accordion-group>                
        </accordion>
    </div>
    
    <!-- Action buttons -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    <span ng-controller="AddPosModalInstanceCtrl">
                        <script type="text/ng-template" id="addPosModal.html">
                            <div ng-include="'html/sm/pos_add_modal_form.html'"></div>
                        </script>
                        <button class="btn m-b-xs btn-sm btn-default btn-addon" id="addOpt" ng-click="showAddOptPopup()">
                            {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_ADD' | translate}}
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    <span ng-controller="EditPosModalInstanceCtrl">
                        <script type="text/ng-template" id="editPosModal.html">
                            <div ng-include="'html/sm/pos_edit_modal_form.html'"></div>
                        </script>
                        <button class="btn m-b-xs btn-sm btn-default btn-addon" id="editPos" ng-click="showEditPosPopup()">
                            {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_EDIT' | translate}}
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </span>
                    <span ng-controller="DeletePosModalInstanceCtrl">
                        <script type="text/ng-template" id="deletePosModal.html">
                            <div ng-include="'html/sm/pos_delete_modal_form.html'"></div>
                        </script>
                        <button class="btn m-b-xs btn-sm btn-default btn-addon" id="deletePos" ng-click="showDeletePosPopup()">
                            {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_REMOVE' | translate}}
                            <i class="fa fa-minus"></i>
                        </button>
                    </span>
                </div>
                
                <div class="panel-body">
                   <div class="table-responsive">
                       <table ui-jq="dataTable" ui-options="{{dataTableParms}}" class="table display" id="tblPositions">
                           <thead>
                               <tr>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_SEQUENCE">
                                       Seq.
                                   </th>
                                   <th>
                                       Pos ID
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_NUMBER">
                                       Pos Code
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_NAME">
                                       Pos Name
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_ROLE_NAME">
                                       Role Name
                                   </th>
                                   <th>
                                       Dep ID
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_DEP_NAME">
                                       Dep Name
                                   </th>
                                   <th >
                                       Org ID
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_ORG_NAME">
                                       Org Name
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_DESCRIPTION">
                                       Description
                                   </th>
                                   <th >
                                       Status ID
                                   </th>
                                   <th translate="pages.sm.pos.POS_MGMT_COLUMN_TITLES.POS_MGMT_COLUMN_TITLE_POS_STATUS">
                                       Status
                                   </th>
                               </tr>
                           </thead>
                       </table>
                   </div>
                </div> 
            </div>
        </div>
    </div>
    
</div>