
<div class="modal-body wrapper-lg no-padder">

    <div class="panel panel-default m-b-none">
        <div class="panel-heading font-bold"
             translate="pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_ADD_INF">
        </div>
        <div class="panel-body" id="customerEventPanel">
        
            <div class="well b bg-light lt wrapper-sm m-t" translate="pages.rm.PCUST.PCUST_MGMT_FORM_INPUTS.PCUST_MGMT_FORM_INPUT_PROMPT">
                	请填写数据
            </div>

            <!-- alert -->
            <div class="m-b-md">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
                </alert>
            </div>
             <form name="formAddCustomizedInfFilter" id="formAddCustomizedInfFilter" class="form-validation">
             	<fieldset ng-disabled="isFormDisabled">
                 <div class="row">
                    <!-- Column 1 -->
                    <div class="col-lg-5">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="crdmn_number">
                                	 {{'pages.rm.CTALE.CTALE_MGMT_FORM_INPUTS.CTALE_MGMT_FORM_INPUT_NUMBER' | translate}}
                                	 <span style="color:red">*</span>
                                </label>
                                <div class="col-lg-7">
                                    <input id="crdmn_number" name="crdmn_number" type="text" class="form-control" 
                                    	   ng-model="fields.crdmnNumber" ng-maxlength="19" ng-minlength="16" required
                                           placeholder="{{'pages.rm.CRDMN.CRDMN_MGMT_PLACEHOLDERS.CRDMN_MGMT_PLACEHOLDER_CUST_NUMBER' | translate}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="crdmn_defined_desc">
                                	  {{'pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_DEFINED_DESC' | translate}}
                                	 <span style="color:red">*</span>
                                </label>
                                <div class="col-lg-7">
                                    <input id="crdmn_defined_desc" name="crdmn_defined_desc" type="text" class="form-control" 
                                    	   ng-model="fields.crdmnDefinedDesc" ng-maxlength="100" required
                                           placeholder="{{'pages.rm.CRDMN.CRDMN_MGMT_PLACEHOLDERS.CRDMN_MGMT_PLACEHOLDER_DEFINED_DESC' | translate}}">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-lg-5 control-label">
                         		      {{'pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_MAIN_DATE' | translate}}
                                </label>
                                <div ng-controller="AvailDateCtrl" class="col-lg-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                                               ng-model="fields.crdmnLastMainDate"
                                               id="crdmn_last_main_date" name="crdmn_last_main_date"
                                               is-open="opened" datepicker-options="dateOptions" 
                                               close-text="Close"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2 -->
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="crdmn_defined_titl">
                              		  {{'pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_DEFINED_TITL' | translate}}
                              		 <span style="color:red">*</span>
                                </label>
                                <div class="col-lg-7">
                                    <input id="crdmn_defined_titl" name="crdmn_defined_titl" type="text" class="form-control" 
                                           placeholder="{{'pages.rm.CRDMN.CRDMN_MGMT_PLACEHOLDERS.CRDMN_MGMT_PLACEHOLDER_DEFINED_TITL' | translate}}"
                                           ng-model="fields.crdmnDefinedTitl" ng-maxlength="20" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="crdmn_defined_content">
                                	{{'pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_DEFINED_CONTENT' | translate}}
                                	 <span style="color:red">*</span>
                                </label>
                                <div class="col-lg-7">
                                    <input id="crdmn_defined_content" name="crdmn_defined_content" type="text" class="form-control" 
                                    	   ng-model="fields.crdmnDefinedContent" ng-maxlength="100" required
                                           placeholder="{{'pages.rm.CRDMN.CRDMN_MGMT_PLACEHOLDERS.CRDMN_MGMT_PLACEHOLDER_DEFINED_CONTENT' | translate}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-5 control-label" for="crdmn_maker">
                                	 {{'pages.rm.CRDMN.CRDMN_MGMT_FORM_INPUTS.CRDMN_MGMT_FORM_INPUT_MAKER' | translate}}
                                </label>
                                <div class="col-lg-7">
                                    <input id="crdmn_maker" name="crdmn_maker" type="text" class="form-control" ng-model="fields.crdmnMaker"
                                           placeholder="{{'pages.rm.CRDMN.CRDMN_MGMT_PLACEHOLDERS.CRDMN_MGMT_PLACEHOLDER_MAKER' | translate}}"
                                           ng-maxlength="9">
                                </div>
                            </div>
                            <input name="func" value='a' type="hidden">
                        </div>
                    </div>
                 </div>
                    <!-- 按钮 -->
                 <div class="row">
                 	<div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <button class="btn m-b-xs btn-default btn-success btn-addon" id="customizedInfBtn" ng-click="customizedInf()"
                                    		ng-disabled="formAddCustomizedInfFilter.$invalid">
                                 	      {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_ADD' | translate}}
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn m-b-xs btn-default btn-success btn-addon" ng-click="clear()">
                                	      {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_CLEAR' | translate}}
                                        <i class="glyphicon glyphicon-repeat"></i>
                                    </button>
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn m-b-xs btn-default btn-success btn-addon" id="btnClose" ng-click="cancel()">
                                	      {{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_CANCEL' | translate}}
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                </fieldset>    
           </form>
        </div>
    </div>
</div>