<!-- This page has been included in org_mgt.html so no need to specify the controller here -->
<div class="modal-body wrapper-lg no-padder">

	<div class="panel panel-default m-b-none">
		<div class="panel-heading font-bold"
			translate="pages.sm.org.ORG_MGMT_FORM_TITLES.ORG_MGMT_FORM_TITLE_EDIT_ORG"></div>
		<div class="panel-body" id="editOrgPanel">
			<div class="well b bg-warning bg text-dark lt wrapper-sm m-t">
				<strong>{{"pages.sm.org.ORG_MGMT_NOTIFICATION_TEXTS.ORG_MGMT_NOTIFICATION_I18N"
					| translate}}</strong>
			</div>

			<!-- alert -->
			<div class="m-b-md">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"
					close="closeAlert($index)">{{alert.msg}} </alert>
			</div>

			<form name="formCheckGx" id="formCheckGx" class="form-validation">

				<fieldset ng-disabled="isFormDisabled">

					<!-- Organization basic info -->
					<div class="row">

						<!-- Column 1 -->
						<div class="col-lg-3">
							<div class="form-group">
								<label for="gxcaudit_loan_nbr" translate="pages.ln.GX_CHECK_FORM_INPUTS.LOAN_CONTRACT_NO"> 贷款合同号 </label> <input
									id="gxcaudit_loan_nbr" name="gxcaudit_loan_nbr" type="text"
									class="form-control text-uppercase"
									placeholder="{{ placeholders.orgNoRule }}"
									ng-model="fields.gxcaudit_loan_nbr" readonly>
							</div>
							<div class="form-group">
                                <label for="orgPer"
                                       translate="pages.ln.GX_CHECK_FORM_INPUTS.PRE_LOAN_TIME">
                                    	展期前贷款到期日
                                </label>
                                <div ng-controller="AvailDateCtrl" >
                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                                               ng-model="fields.gxcaudit_loan_due_date" placeholder="{{placeholders.availDate}}"
                                               id="gxcaudit_loan_due_date"	name="gxcaudit_loan_due_date" readonly
                                               is-open="opened" datepicker-options="dateOptions" ng-required="true"
                                               close-text="Close"/>
                                              
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" disabled ng-click="open($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
								<label for="gxcaudit_loan_ext_sts" translate="pages.ln.GX_CHECK_FORM_INPUTS.APPROVAL_OPERATION"> 审批操作 </label> <input
									id="gxcaudit_audit_option" name="gxcaudit_audit_option" type="text"
									class="form-control text-uppercase"
									placeholder="{{ placeholders.orgNoRule }}"
									ng-model="fields.gxcaudit_audit_option" >
							</div>
							
							
						</div>

						<!-- Column 2 -->
						<div class="col-lg-3">
							<div class="form-group">
								<label for="gxcaudit_audit_cust_id" translate="pages.ln.GX_CHECK_FORM_INPUTS.CUSTOMER_NUMBER"> 客户号 </label> <input
									id="gxcaudit_audit_cust_id" name="gxcaudit_audit_cust_id" type="text"
									class="form-control text-uppercase"
									placeholder="{{ placeholders.orgNoRule }}"
									ng-model="fields.gxcaudit_audit_cust_id" readonly>
							</div>
							<div class="form-group">
                                <label for="orgPer"
                                       translate="pages.ln.GX_CHECK_FORM_INPUTS.EXPIRY_DATE">
                                    	展期后到期日
                                </label>
                                <div ng-controller="AvailDateCtrl" >
                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                                               ng-model="fields.gxcaudit_loan_ext_date" placeholder="{{placeholders.availDate}}"
                                               id="gxcaudit_loan_ext_date"	name="gxcaudit_loan_ext_date" readonly
                                               is-open="opened" datepicker-options="dateOptions" ng-required="true"
                                               close-text="Close"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" disabled ng-click="open($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
							<div class="form-group">
								<label for="gxcaudit_audit_remark" translate="pages.ln.GX_CHECK_FORM_INPUTS.APPROVAL_NOTE"> 审批说明 </label> <input
									id="gxcaudit_audit_remark" name="gxcaudit_audit_remark" type="text"
									class="form-control text-uppercase"
									placeholder="{{ placeholders.orgNoRule }}"
									ng-model="fields.gxcaudit_audit_remark" >
							</div>
						</div>

						<!-- Column 3 -->
						<div class="col-lg-3">
							<div class="form-group">
                                <label for="gxcaudit_audit_cust_name"
                                       translate="pages.ln.GX_CHECK_FORM_INPUTS.CUSTOMER_NAME">
                                    	客户名称	
                                </label>
                                <input id="gxcaudit_audit_cust_name" name="gxcaudit_audit_cust_name" type="text"
                                       class="form-control text-uppercase"
                                       placeholder="{{ placeholders.orgNoRule }}"
                                       ng-model="fields.gxcaudit_audit_cust_name"  
                                       readonly>
                            </div>
                            <div class="form-group">
                                <label for="gxcaudit_loan_amt"
                                       translate="pages.ln.GX_CHECK_FORM_INPUTS.LOAN_AMOUNT">
                                                                                                                                         贷款金额
                                </label>
                                <input id="gxcaudit_loan_amt" name="gxcaudit_loan_amt" type="text"
                                       class="form-control text-uppercase"
                                       placeholder="{{ placeholders.orgNoRule }}"
                                       ng-model="fields.gxcaudit_loan_amt"  
                                       readonly>
                            </div>
							<div class="form-group">
								<label for="gxcaudit_loan_remark" translate="pages.ln.GX_CHECK_FORM_INPUTS.REMARK"> 备注 </label> <input
									id="gxcaudit_loan_remark" name="gxcaudit_loan_remark" type="text"
									class="form-control text-uppercase"
									placeholder="{{ placeholders.orgNoRule }}"
									ng-model="fields.gxcaudit_loan_remark" readonly>
							</div>
						</div>

						<!-- Column 4 -->
						<div class="col-lg-3">
							<div class="form-group">
                                <label for="gxcaudit_loan_prod"
                                       translate="pages.ln.GX_CHECK_FORM_INPUTS.PRE_PRODUCT_TYPE">
                                                                                                                                        展期前产品类型
                                </label>
                                <input id="gxcaudit_loan_prod" name="gxcaudit_loan_prod" type="text"
                                       class="form-control text-uppercase"
                                       placeholder="{{ placeholders.orgNoRule }}"
                                       ng-model="fields.gxcaudit_loan_prod"  
                                       readonly>
                            </div>
                            <div class="form-group">
                                <label for="gxcaudit_audit_channel"
                                       translate="ln.GX_CHECK_FORM_INPUTS.APPROVAL_CHANNELS">
                                                                                                                                        审批渠道
                                </label>
                                <input id="gxcaudit_audit_channel" name="gxcaudit_audit_channel" type="text"
                                       class="form-control text-uppercase"
                                       placeholder="{{ placeholders.orgNoRule }}"
                                       ng-model="fields.gxcaudit_audit_channel"  >
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="col-lg-6"></div>
							<div class="col-lg-2"></div>
							<div class="col-lg-2">
								<button class="btn m-b-xs btn-default btn-success btn-addon"
									id="btnSave" ng-click="check()"
									ng-disabled="formCheckGx.$invalid || formCheckGx.$pristine">
									{{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_SUBMIT' |
									translate}} <i class="fa fa-pencil-square-o"></i>
								</button>
							</div>
							<div class="col-lg-2">
								<button class="btn m-b-xs btn-default btn-success btn-addon"
									id="btnClose" ng-click="cancel()">
									{{'pages.common.COMMON_BUTTONS.COMMON_BUTTON_CANCEL' |
									translate}} <i class="fa fa-times"></i>
								</button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>